*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #FDF2E5 !important;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

        /*Header*/

header{
    color: #fcfaf8;
    background-color: #be8a62;
}

.head{
    border-bottom: white solid 0.2rem;
}

.logo{
    margin: 0 auto;
    display: block;
}

.eslogan{
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin: 0.5em;
}

/*Boton para el menu*/

.burger{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    display: none;
}

.burger div{
    width: 27px;
    height: 3px;
    background-color: white;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.toggle .linea1{
    -webkit-transform: rotate(-45deg) translate(-5px,6px);
    -ms-transform: rotate(-45deg) translate(-5px,6px);
    -o-transform: rotate(-45deg) translate(-5px,6px);
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .linea2{
    opacity: 0;
}

.toggle .linea3{  
    -webkit-transform: rotate(45deg) translate(-5px,-6px);
    -ms-transform: rotate(45deg) translate(-5px,-6px);
    -o-transform: rotate(45deg) translate(-5px,-6px); 
    transform: rotate(45deg) translate(-5px,-6px);
}

/*Booton para el menu*/

/*Barra de navegacion*/

nav{
    display: flex;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #dbb89c;
}

.barra{
    flex-grow: 1;
    height: 2em;
    line-height: 2em;
    text-align: center;
    list-style: none;
    transition: all 0.05s linear;
}

.barra a:visited, .barra a{
    color: black;
    transition: all 0.05s linear;
    text-decoration: none;
}

.barra a:hover{
    color: white;
}

.barra:hover{
    background-color: #D0B197;
}

.links{
    display: flex;
    width: 100%;
    padding: 0;
}

nav.active{
    display: block;
}

.links.active{
    /*opacity: 100;*/
    -webkit-animation: 0.3s 1 popUp;
    -moz-animation: 0.3s 1 popUp;
    -o-animation: 0.3s 1 popUp;
    animation: 0.3s 1 popUp;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.no-scroll{
    overflow: hidden;
}

/*Barra de navegacion*/

        /*Header*/

.album{
    display: flex;
    flex-wrap: wrap;
}

.sociales .fab{
    color: white;
    font-size: 1.8em;
}

        /*Footer*/

footer{
    margin-top: auto;
}

footer section{
    background-color: #342418;
    color: white;
    padding-top: 0.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.sociales{
    display: flex;
    width: 15%;
    justify-content: space-around;
    margin: 0 auto 0.5em;
}

        /*Footer*/

        /*Pagina Contacto*/

.contacto{
    display: flex;
    margin: 3em 0 0;
}

.contacto iframe{
    border: white solid 0.2rem;
}

        /*Pagina Contacto*/

        /*Pagina Newborn*/

.intro{
    width: 70%;
    margin: 1rem auto;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro h1{
    font-size: 1.7em;
}

.intro h1, .intro h2{
    text-align: center;
    font-family: 'Courgette', cursive;
}

.intro h2{
    margin-top: 0.7rem;
    font-size: 1.2em;
}

.intro img{
    margin: 0.7rem auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

        /*Pagina Newborn*/

@keyframes popUp {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes popOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

small{
    color: red;
    font-size: 0.6em !important;
}

@media screen and (max-width: 640px) { /*Celular*/
    .burger{
        display: block;
    }

    .logo{
        padding: 0.5rem 0 0;
        width: 50%;
    }

    .links {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 375px;
        background-color: #D0AF94;
        display: flex;
        padding: 40px 0;
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
    }

    nav {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    header .eslogan{
        font-size: 1em;
    }

    .album img{
        width: 100%;
    }

    .intro .album img{
        width: 100%;
    }

    .contacto{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    aside .form-control{
        max-width: 95%;
        margin: 0 auto;
    }

    .contacto aside{
        text-align: center;
        margin: 1.2em 0 0;
    }

    .contacto iframe{
        width: 95%;
    }

    .intro img{
        width: 90%;
    }

    .intro{
        font-size: 0.9em;
    }

    .sociales{
        width: 50%;
    }
}


@media screen and (min-width: 640px) and (max-width: 1280px) { /*Tablet*/
    .burger{
        display: block;
    }

    .logo{
        padding: 0.5rem 0 0;
        width: 50%;
    }

    .links {
        position: fixed;
        top: 0;
        right: 0%;
        height: 100%;
        width: 100%;
        max-width: 375px;
        background-color: #D0AF94;
        display: flex;
        padding: 40px 0;
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    nav {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    .logo{
        padding: 1rem 0 0;
        width: 33%;
    }

    .album img{
        width: 33.3333333333%;
    }
    
    .intro .album img{
        width: 50%;
    }

    .contacto{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    aside .form-control{
        max-width: 25em;
        margin: 0 auto;
    }

    .contacto aside{
        text-align: center;
        margin: 1.2em 0 0;
    }

    .contacto section, .contacto aside{
        font-size: 1.5em;
    }

    .contacto iframe{
        width: 95%;
    }

    .intro img{
        width: 60%;
    }

    nav{
        display: none;
    }
}


@media screen and (min-width: 1280px) { /*Computadora*/
    .logo{
        padding: 2rem 0 0;
        width: 20%;
    }

    .album img{
        width: 25%;
    }

    .intro .album img{
        width: 50%;
    }

    .contacto{
        justify-content: space-around;
    }

    aside .form-control{
        max-width: 25em;
    }

    .contacto section, .contacto aside{
        align-self: center;
        font-size: 1.5em;
    }

    .contacto aside{
        max-width: 25%;
    }

    .contacto iframe{
        width: 40%;
    }

    .intro img{
        width: 35%;
    }
}

